body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aquamarine;
}

/* Moblie styling*/
@media (max-width: 600px) {
    ul {

        padding: 15px;
        margin: 5px;
        border: 10px solid #9bcfe0;
        list-style-type: none;
        background-color: #00a7c7;
      
      }
    
      li {
        padding: 2px;
        margin: 2px;
        
      }
      a { 
        list-style-type: none;
        color: rgb(102, 87, 3);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: medium;
    }
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: #c9653a;
}

h2 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: #c9653a;
}

p {
    padding: 5px;
    margin: 5px;
    margin-bottom: 15px;
    text-wrap: balance;
    text-align: center;
}

ul {

    padding: 200px;
    margin: 5px;
    border: 10px solid #9bcfe0;
    list-style-type: none;
    background-color: #00a7c7;
  
  }

  li {
    padding: 2px;
    margin: 2px;
    text-align: center;
    
  }


a { 
    list-style-type: none;
    color: rgb(102, 87, 3);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
}

footer {
    background-color: #c9653a;
    padding: 10px;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: #c9653a;
}

.flex-container  > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  text-wrap: balance;
  line-height: 15px;
  font-size: 12px;
}



.Connect {
    display: flex;
    flex-direction: column;

}

#messages ul {
    font-size: xx-large;
}

#back-button {
    padding: 10px;
    margin-top: 10px;
}

